@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Ubuntu", sans-serif;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity 500ms ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
}

.fade-in {
  animation: fade-in 500ms ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-gradient-to-br {
  background: linear-gradient(to bottom right, #e9ecef, #f8f9fa);
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.p-6 {
  padding: 1.5rem;
}

.fade-in-btn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out-btn {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a0c4ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5390d9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.modal-class {
  z-index: 1000; 
}

.loan-option-button {
  background-color: #3490dc; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.loan-option-button:hover {
  background-color: #2779bd; 
  transform: translateY(-3px); 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}

.loan-option-button:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(50,144,220,0.5); 
}

.loan-option-button:active {
  transform: translateY(0); 
  box-shadow: none;
}

.blue-links a {
  color: blue;
  text-decoration: none; /* opcional: remove o sublinhado */
}

/* Estilos para o burger icon */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  right: 36px;
}

.bm-burger-bars {
  background: white;
}

/* Estilos para o menu quando aberto */
.bm-menu {
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 1.15em;
  margin-top: 4rem;
}

.bm-menu li {
  list-style: none;
  padding: 20px 0;
}

.bm-menu li a {
  color: #d1d1d1;
  text-decoration: none;
}

.bm-menu li a:hover {
  color: white;
}

/* Estilo para o overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
